# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# next.js
.next/
**/ .next/
out/

# production
build/
dist/

# env files
.env*

# debug
*.log
debug.log
error.log

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
